/**
 * @file index.css
 * @brief This file contains global styles for the application.
 */

/* Define root variables and base font styles. */
:root {
  font-family: Roboto, sans-serif;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Basic styles for the body element. */
body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

/* Remove text decoration from links. */
a {
  text-decoration: none;
  color: inherit;
}

/* Use border-box for all elements. */
* {
  box-sizing: border-box;
}